@media screen and (max-width: 930px) {
    html {
        font-size: 0.8em;
    }

    .aside-bail-19 {
        flex: 1;
        height: 100%;
        position: initial !important;
        margin-bottom: 1.5em;
        width: 100% !important;
    }

    .row-button-bail button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 1em;
        flex: 1;
        text-align: center;
    }

    .row-bail {
        display: flex;
        flex-direction: column !important;
        flex-wrap: wrap !important;
    }

    .label-tabs-bail span {
        width: max-content;
        padding-inline: 0 !important;
        margin-bottom: 0.9em !important;
        margin-left: 0 !important;
     
    }

}

@media screen and (min-width: 1600px) {


    .main-bail-19 {
        margin: 0 auto;
        width: 92em !important;
    }


}