@media screen and (max-width: 450px) {
    html {
        font-size: 0.7em !important;
    }
}
@media screen and (max-width: 930px) {
    html {
        font-size: 0.8em;
    }

    .aside-bail-19 {
        flex: 1;
        /* height: 100%; */
        position: fixed !important;
        top: auto !important;
        bottom: 0 !important;
        /* margin-bottom: 1.5em; */
        width: 100% !important;
        background: #fff;
        z-index: 99999999;
        height: max-content !important;
        padding: 0 !important;
        padding-bottom: 1em !important;
    }
.aside-article-link-tabs-19{
        display: flex;
        flex-direction: row !important;
        justify-content: space-between;
        padding: 0;
}
.aside-article-link-tabs-19 a.active-bail-tabs p::after {
    content: '';
    padding: 0.2em !important;
    position: absolute;
    top: 0 !important;
margin-top: -1em;
    height: 0.2em !important;
    width: 100%;
    border-radius: 0 !important;
}.aside-article-link-tabs-19 a.active-bail-tabs p::before {
       background: rgba(3, 168, 78, 1) !important;
       color: #fff;
}

.main-bail-tabs-19 {
    /* background: red; */
    min-height: 400vh !important;
    flex: 1;
    align-self: start;
    width: 100%;
}

.aside-article-link-tabs-19 p::before {
    content: 're';
    padding: 0.7em;
    background: rgba(217, 217, 217, 1);
    text-transform: uppercase;
    color: rgba(0, 0, 0, 1);
    border-radius: 0.5em;
    /* margin-right: 0.5em; */
}
.aside-article-link-tabs-19 p {
    /* display: none; */
    /* background: red; */
    /* padding: 1.5em 0.9em !important; */
    /* text-wrap: nowrap;  */
    padding: 0.8em 0.8em !important;display: flex;
        flex-direction: row;
        gap: 0.3em;
        align-items: center;
    /* background: yellow; */
}
.aside-article-link-tabs-19 a.active-bail-tabs p span{
           display: block !important;
color: rgba(3, 168, 78, 1);
}
.aside-article-link-tabs-19 a.active-bail-tabs p{
        border-right: 1px solid rgb(235, 235, 235);
}

.aside-article-link-tabs-19 p span{
    display: none;
    margin-left: 0.5em;
}

    .row-button-bail button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 1em;
        flex: 1;
        text-align: center;
    }

    .row-bail {
        display: flex;
        flex-direction: column !important;
        flex-wrap: wrap !important;
    }

    .row-tabs-bail {
        display: flex;
        flex-direction: column !important;
        align-items: start !important;
    }

    .label-tabs-bail {
        /* flex: 1 !important; */
        width: 100% !important;
        /* background: red; */
    }

    .label-tabs-bail span {
        width: max-content;
        padding-inline: 0 !important;
        margin-bottom: 0.9em !important;
        margin-left: 0 !important;
        text-wrap: wrap !important;

    }
    .header-bail-19 {
 width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1em ;
}
    .v-pdf-mob-desk{
    display: block !important;
    height: max-content;
}


    .v-pdf-mob{
        display: none !important;
    }

    .aside-article-button-tabs-19 {
    display: flex;
    flex-direction: row !important;
    /* background: red; */
    width: 100% !important;
  
}
    .aside-article-button-tabs-19 div{

    width: 100% !important;
  
}
    .h2-mobile-uppercase{
        text-transform: uppercase;
    }

    /* .h2-bail-label{
    font-size: 1.2em !important;
} */

    .calendar-icon {
        margin-top: 1.2em !important;
    }

    .i-arrow-down-bail {
        margin-top: 1.2em !important;
    }
}

@media screen and (min-width: 1600px) {


    .main-bail-19 {
        margin: 0 auto;
        width: 92em !important;
    }


}